<!-- wp:template-part {"slug":"header","theme":"nmcc","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:pattern {"slug":"nmcc/homepage-hero"} /-->
    <!-- wp:pattern {"slug":"nmcc/community-about"} /-->
    <!-- wp:pattern {"slug":"nmcc/announcements-grid"} /-->
    <!-- wp:pattern {"slug":"nmcc/facebook-posts-feed"} /-->
    <!-- wp:pattern {"slug":"nmcc/resource-library"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"nmcc","tagName":"footer"} /-->
